data/processed/datasets/aircraft_crack/train/images/*.jpg filter=lfs diff=lfs merge=lfs -text
data/processed/datasets/aircraft_crack/val/images/*.jpg filter=lfs diff=lfs merge=lfs -text
data/processed/datasets/aircraft_crack/test/images/*.jpg filter=lfs diff=lfs merge=lfs -text
